.App {
  text-align: center;
}

.VictoryContainer svg {
  height: 200px;
  max-height: 200px;
}

@media (orientation: portrait) {
  /* #graphWidget-main {
    flex-direction: column !important;
  }

  #widgetSidebar {
    flex: 3 !important;
    overflow: auto;
  }

  #zoomOut {
    height: 30px !important;
    width: 30px !important;
  } */
}